::selection{
    background-color: aquamarine;
}

body{
    font-family: monospace;
    user-select: none;
    overflow: hidden;
}

#headBar{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    padding-inline: 1%;
    align-items: center;
    margin: -0.5%;
}

#left{
    margin-left: 150px;
    width: 100vw;
}

#right{
    width: 3%;
}

#logo{
    margin-left: 30px;
}

#darkModeIcon{
    padding: 5px;
    border: none;
    background-color: transparent;
    transition: 0.5s ease-in-out;
}

#darkModeIcon:hover{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px 7px white;
    transform: scale(1.05);
}

#logoDiv{
    position: relative;
    top: -25px;
}

#mockups{
    position: relative;
}

#owner{
    position: relative;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
    z-index: 1000;
    top: -25px;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signIn{
    position: relative;
    left: -150px;
    top: 100px;
}

#arthurImg{
    width: 300px;
    height: 300px;
}

#formDiv{
    background-color: #D9D9D9;
    border: solid 2px black;
    width: calc((100vw / 2) - 150px);
    height: calc(100vh - 400px);
}

#form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 7%;
}

#form h1{
    font-size: 32px;
}

.input{
    border: solid 1px;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
}

#arthur{
    position: relative;
    top: -200px;
    left: 680px;
}

#submit{
    transition: 0.5s ease-in-out;
}

#submit:hover{
    background-color: #bababa;
}

.darkMode{
    background-color: black;
    color: white;
}

.darkMode #headBar{
    background-color: black;
}

.darkMode #darkModeIcon img{
    content: url(../img/darkMode.png);
}

.darkMode #darkModeIcon img:hover{
    background-color: #bababa;
    box-shadow: 0 0 10px 7px #bababa;
}

.darkMode #chartImg {
    content: url(../img/mockup-dark.png);
    filter: drop-shadow(4px 4px 5px white);
}

.darkMode #owner{
    filter: drop-shadow(4px 4px 5px rgba(255, 255, 255, 0.8));
}

.darkMode #formDiv{
    background-color: #191517;
    border: 1px solid white;
}

.darkMode a{
    color: aquamarine;
}

.darkMode .input{
    background-color: #191517;
    border: solid 1px #8C8C8C;
    color: white;
}

.darkMode #submit:hover {
  background-color: #0F5B4E;
  box-shadow: 0px 0px 15px 5px rgba(238, 255, 0, 0.4);
  transition: ease 0.75s;
}