body{
    font-family: monospace;
    font-size: large;
    margin-left: 1%;
    overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::selection{
    background-color: aquamarine;
}


* {
  box-sizing: border-box;
  cursor: none !important;
}

ul{
    padding-left: 0;
    margin-left: 0;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    transition: 0.2s;
    list-style-type: none;
    color: black;
    width: 91%;
}

ul li:nth-child(odd){
    background-color: #f9f9f9;
}

ul li:hover{
    background-color: #ddd;
}

ul li.checked{
    background-color: #888;
    color: #fff;
    text-decoration: line-through;
}

#input, #taskType, #projectName, #dueDate, #startDate, #projectAmt{
    border: solid 1px;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
}

#headerSect1{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 65%;
    user-select: none;
}

#progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#xpBar{
    margin-top: 0.5%;
    width: 400px;
    height: 30px;
    background-color: #36ACA2;
    border-radius: 7px;
    border: solid 2px black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#fill{
  width: 1%;
  height: 26px;
  background-color: #FFF70D;
}

#progress h3{
    margin: -1%;
    margin-top: 5px;
    transform: translate(-10%);
}

#levels{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#levels h3{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #FFF70D;
    text-align: center;
    border-radius: 5px;
    border: solid 2px black;
    transform: translate(0%, -10%);
    margin-inline: -3%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.darkMode #levels h3{
    color: black;
}

#input{
    width: 45%;
}

#taskType{
    width: 30%;
}

ul li .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  user-select: none;
}

ul li .close:hover {
  background-color: #f44336;
  color: white;
}

.Btn{
    font-family: monospace;
    padding: 11px;
    background-color: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0%;
    user-select: none;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.Btn:hover {
  background-color: #bbb;
}


#budgetBtn{
    border: none;
    font-family: monospace;
    width: 100%;
}

#addRowBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    border: none;
    font-family: monospace;
}

#projectBtn, #addProjBtn{
    width: 91%;
    text-align: center;
}

#logo{
    margin-top: 1%;
    height: 50px;
    width: 50px;
    user-select: none;
    margin-left: 20%;
}

#greeting{
    margin-top: 0%;
    margin-bottom: 1%;
    user-select: none;
}

#navBar{
    margin: -1%;
    margin-bottom: -2.2%;
    padding: 10px;
    background-color: rgb(138, 137, 137);
    overflow: hidden;
}

#budget{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#budgetTable, td{
    border-bottom: solid 1px;
    border-collapse: collapse;
    padding: 7.5px;
    user-select: none;
}

#navBaricon{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.icon{
    background-color: transparent;
    border: none;
    margin-right: 0.6%;
    margin-top: 0.1%;
    margin-bottom: -0.5%;
    padding-top: 7px;
    padding-bottom: 5px;
}

.icon img{
    width: 27px;
    height: 27px;
}


#sect0{
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    gap: 0;
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:90%;
}

#subContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#coinCounter{
    user-select: none;
    width: fit-content;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9d9d9;
    border-radius: 10%;
    padding-top: 10px;
    gap: 50%;
    padding-inline: 50px;
    margin-right: 1%;
    text-wrap: nowrap;
    font-weight: lighter;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

#sect1{
    width: 65%;
    user-select: none;
}

#sect2{
    width: 50%;
    user-select: none;
}

.category, .itemType, #bgtItemName, #bgtItemAmt{
    font-family: monospace;
    background-color: transparent;
    color: black;
    height: 30px;
    font-size: 14px;
    margin: 5px;
    border: 1px solid;
}

#bgtItemName{
    width: 90%;
}

#bgtItemAmt{
    width: 25%;
}

.category{
    width: 20%;
}

#darkModeIcon:hover, #avatarIcon:hover{
    transition:ease-out 0.5s;
    background-color: white;
}

.darkMode{
    background-color: black;
    color: white;
}

.darkMode #navBar{
    background-color: black;
}

.darkMode #darkModeIcon:hover, .darkMode #avatarIcon:hover{
    transition:ease-out 0.5s;
    background-color: grey;
}

.darkMode .icon img{
    filter: invert(1);
}

.darkMode #logo {
    content: url(../img/CQLogoDark.png);
}


.darkMode .Btn{
    border: solid #8C8C8C 1px;
    font-family: monospace;
    background-color: #191517;
    color: #A9AAA9;
}

.darkMode #budgetBtn, .darkMode #addRowBtn{
    border: solid #8C8C8C 1px;
}

.darkMode .Btn:hover {
  background-color: #0F5B4E;
  box-shadow: 0px 0px 15px 5px rgba(238, 255, 0, 0.4);
  transition: ease 0.75s;
}


.darkMode .itemType,
.darkMode #bgtItemName,
.darkMode #bgtItemAmt,
.darkMode .category{
    color: white;
    border: solid 1px #8C8C8C;
}

.darkMode .itemType:open > option, .darkMode .category:open > option{
   background-color: #4d4d4d;
   color: white;
}
 
.darkMode tr:nth-child(even){
  & .itemType, #bgtItemAmt, #bgtItemName{
    color: black;
  }
}

.darkMode #input, .darkMode #taskType, .darkMode ul li, .darkMode #projectName, .darkMode #dueDate, .darkMode #startDate, .darkMode #projectAmt{
    background-color: #191517;
    border: solid 1px #8C8C8C;
    color: white;
}


.darkMode ul li:nth-child(odd){
    background-color: #4d4d4d;
    color: white
}

.darkMode ul li:hover{
    background-color: #0F5B4E;
}

.darkMode ul li.checked{
    background-color: #bebebe;
    color: black;
    text-decoration: line-through;
}

.darkMode #coinCounter{
    background-color:#191517;
    border: solid 1px white;
}

.darkMode [type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

#coinImg{
    width: 20px;
    height: 20px;
    scale: 50%;
    translate: 40%;
}


#dateDiv{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#projects{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.darkMode .modal-container{
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: white;
    min-width: 600px;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 50px 80px;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.darkMode .modal{
    background-color: #191517;
    color: white;
}

.modal h2{
    margin: 0;
}

.modal p{
    opacity: 0.7;
}

#btnDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#avatar-modal{
    width: calc(100vw - 75px);
    height: calc(100vh - 200px);
}

#avtBtnDiv, #setBtnDiv, #actBtnDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

#avtBtnDiv, #actBtnDiv{
    justify-content: left;
}

#avtContent{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#avtContent img{
    padding: 20px;
    filter: grayscale(100%);
    transition: 0.75s ease-in-out;
}

#avtContent #starterImg{
    filter: none;
}

#confirm, #cancel{
    padding: 10px;
}

#projectView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.viewBtn{
    width: 91%;
}

#projDetails{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#projectName{
    width: 60%;
}

#projectAmt{
    width: 28.5%;
}

.avtSelected{
    text-shadow: 0px 0px 5px #0F5B4E;
}

.darkMode .avtSelected{
    text-shadow: 0px 0px 5px #FFF70D;
}

.selectedImg {
    transform: scale(1.2);
}

#avtDisplayDiv{
    width: 100px;
    transform: translate(-100%, 0%);
    object-fit: none;
}

#avtShown{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
}

.darkMode #avtShown{
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 2%;
  font-family: monospace;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.darkMode .collapsible{
    background-color: #191517;
    color: white;
}


.collapsible:after {
  content: '\25BC';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\25B2";
}

.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.darkMode .content{
    background-color: #191517;
}

#arthur{
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 65px;
    right: 250px;
}

#tutorial-modal-container{
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden{
    display: none;
}

#graph{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.cursor-ball {
    width: 8px;
    height: 8px;
    background-color: #000;
}

.darkMode .cursor-ball{
    background-color: white;
}

.cursor-outline {
    width: 3rem;
    height: 3rem;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.darkMode .cursor-outline{
    border: solid 1px white;
}

.cursor-ball,
.cursor-outline {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

.cursor-outline{
    transform: translate(-40%, -40%);
}

.cursor-mousedown {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #000;
    background-color: #0F5B4E;
}

.darkMode .cursor-mousedown{
    background-color: #FFF70D;
}

#setContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.setBtn{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.darkMode .setBtn img{
    filter: invert(1);
}

#delBtn:hover{
    background-color: red;
    box-shadow: 0 0 20px red;
}

 .darkMode #delBtn:hover{
    color: white;
}